/* fonts */

@font-face {
  font-family: "Cuprum";
  src:  url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:  url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:  url("../fonts/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:  url("../fonts/cuprumbolditalic.woff2") format("woff2"),
        url("../fonts/cuprumnbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:  url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:  url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* custom properties */

:root {
  --basic-red: #EE3643;
  --basic-reddark: #CA2C37;
  --basic-green: #63A63E;
  --basic-greendark: #518534;
  --basic-greendarkest: #367315;
  --basic-grey: #3D546F;
  --basic-greydark: #32425C;
  --basic-greylight: #C5C5C5;
  --basic-background: #F3F7F9;
  --basic-backgrounddark: #F9F5F0;
  --basic-backgrounddarkest: #F4F4F4;
  --basic-white: #FFFFFF;
  --basic-whitedark: #F1F5F7;
  --basic-black: black;
  --basic-blacklight: #161D29;
  --basic-blacklightest: #212A3A;
  --basic-dark: #293449;
  --basic-light: #405069;
  --basic-inactive-text: #A9A9A9;
  --basic-active-text: rgba(255, 255, 255, 0.5);
  --basic-active-textdark: rgba(241, 245, 247, 0.5);
  --basic-dark-background: rgba(255, 255, 255, 0.3);
  --basic-darkest-background: rgba(197, 197, 197, 0.3);
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-greylight: #EAEAEA;
  --special-background: #F7F3EC;
  --special-dark-background: rgba(169, 169, 169, 0.3);
  --special-black-background: rgba(0, 0, 0, 0.25);
  --special-active-text: rgba(255, 209, 128, 0.5);
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --drop-shadow: 0 4px 20px  rgba(0,0,0,0.15) ;
  --inset-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  --outside-shadow: 0 5px 0 var(--basic-reddark);
}

/* common styles */

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 960px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}


.page-button {
  padding: 10px 46px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.page-button:hover,
.page-button:focus {
  background-color: var(--basic-reddark);
}

.page-button:active {
  background-color: var(--error);
}

.logo {
  width: 220px;
  text-align: center;
  background-color: var(--basic-red);
  box-shadow: var(--outside-shadow);
}

.page-paragraph {
  margin: 0;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 13px;
}

.page-input,
.page-input:focus,
.page-input:active {
  width: 220px;
  padding: 7px 12px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  line-height: inherit;
  outline: none;
}

.page-input:focus,
.page-input:active {
  border-color: var(--basic-grey);
}

.page-input::placeholder {
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 13px;
  color: var(--basic-inactive-text);
}

.hidden {
  display: none;
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  margin: 0 auto;
  width: 960px;
  padding-left: 10px;
  padding-right: 10px;
}

[data-new] {
  position: relative;
  overflow: hidden;
}

[data-new]::after {
  content: attr(data-new);
  position: absolute;
  top: 8px;
  right: -28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  transform: rotate(45deg);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

/* page header */

.main-header {
  display: grid;
  grid-template-rows: min-content 1fr;
  background-color: var(--basic-background);
}

.menu-wrapper {
  background-color: var(--basic-dark);
}

.menu-content-container {
  display: flex;
  align-items: start;
}

.main-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 42px;
}

.search-site {
  flex-grow: 1;
  position: relative;
  font-size: 18px;
  margin: 0;
}

.search-site::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  -webkit-mask-image: url("../img/icons/search.svg");
  mask-image: url("../img/icons/search.svg");
  background-color: var(--basic-white);
  opacity: 0.3;
}

.search-site:hover::before,
.search-site:focus-within::before {
  opacity: 1;
}

.search-site:focus-within::before {
  background-color: var(--basic-red);
  opacity: 1;
}

.search-site input {
  width: 100%;
  height: 42px;
  padding-left: 42px;
  color: var(--basic-black);
  border: none;
  background-color: var(--basic-dark);
}

.search-site input::placeholder {
  color: var(--basic-white);
}

.search-site input:focus,
.search-site input:active {
  background-color: var(--basic-white);
  outline-style: none;
  box-shadow: inset 0 0 0 2px var(--special-greylight);
}

.main-header-menu {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.main-header-menu-item a,
.main-header-menu-order {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 9px 17px;
  color: var(--basic-white);
  text-align: center;
  white-space: nowrap;
}

.menu-bookmarks a,
.menu-cart a {
  padding-left: 24px;
  padding-right: 24px;
}

.menu-bookmarks a:active,
.menu-cart a:active {
  color: var(--basic-active-text);
  background-color: var(--basic-blacklight);
}

.menu-bookmarks a::before {
  content: "";
  width: 14px;
  height: 16px;
  margin-right: 9px;
  margin-bottom: 2px;
  background-image: url("../img/icons/bookmark.svg");
  opacity: 0.3;
}

.menu-cart a::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 8px;
  margin-bottom: 3px;
  background-image: url("../img/icons/cart.svg");
  opacity: 0.3;
}

.menu-bookmarks a:hover::before,
.menu-cart a:hover::before {
  opacity: 1;
}

.main-header-menu-item-filled {
  background-color: var(--basic-red);
}

.main-header-menu-order {
  padding: 9px 18px;
  background-color: var(--basic-green);
}

.main-header-menu-order:hover,
.main-header-menu-order:focus,
.main-header-menu-order:active {
  background-color: var(--success);
}

.main-header-menu-order:active {
  color: var(--basic-active-text);
}

.navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  justify-content: start;
  margin: 44px 0 60px;
}

.main-header-title {
  margin: 0;
  margin-left: 30px;
  width: 197px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.main-header-contacts {
  justify-self: start;
  margin-right: 30px;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: var(--basic-greydark);
}

.main-header-contacts a {
  margin-bottom: 3px;
  display: flex;
  align-items: center;
  width: 270px;
  padding: 5px 37px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  text-align: center;
  border: 3px solid var(--basic-white);
  background-color: var(--basic-background);
}

.main-header-contacts a::before {
  content: "";
  display: block;
  width: 18px;
  height: 19px;
  margin-right: 17px;
  -webkit-mask-image: url("../img/icons/phone.svg");
  mask-image: url("../img/icons/phone.svg");
  background-color: var(--basic-greylight);
}

.main-header-contacts a:hover,
.main-header-contacts a:focus,
.main-header-contacts a:active {
  text-decoration: underline;
}

.main-header-contacts a:active::before {
  background-color: var(--basic-red);
}

.main-header-entry {
  justify-self: end;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 10px;
}

.main-header-entry-item a {
  display: block;
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white);
}

.main-header-entry-item a:hover,
.main-header-entry-item a:focus {
  color: var(--basic-red);
}

.main-header-entry-item a:active {
  color: var(--basic-greylight);
}

.entry-login a {
  display: flex;
  align-items: center;
  padding-left: 19px;
  padding-right: 27px;
}

.entry-login a::before {
  content: "";
  width: 20px;
  height: 17px;
  margin-right: 7px;
  -webkit-mask-image: url("../img/icons/login.svg");
  mask-image: url("../img/icons/login.svg");
  background-color: var(--basic-greylight);
}

.entry-login a:hover::before,
.entry-login a:focus::before {
  background-color: var(--basic-grey);
}

.entry-login a:active::before {
  background-color: var(--basic-greylight);
}

.user-info-wrapper {
  display: grid;
}

.user-profile-logout {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 20px;
  gap: 8px;
  align-items: center;
  padding: 12px 15px;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  background-color: var(--basic-white);
}

.user-profile-link {
  display: grid;
  grid-template-columns: 20px 1fr;
  gap: 8px;
  align-items: center;
}

.user-profile-link::before {
  content: "";
  margin-right: 19px;
  margin-bottom: 2px;
  display: block;
  width: 29px;
  height: 18px;
  -webkit-mask: url("../img/icons/user.svg") no-repeat;
  mask: url("../img/icons/user.svg") no-repeat;
  background-color: var(--basic-greylight);
}

.user-profile-link:hover::before,
.user-profile-link:focus::before {
  background-color: var(--basic-grey);
}

.user-profile-link:active::before {
  background-color: var(--basic-greylight)
}

.user-profile-link:focus {
  outline: none;
}

.logout-link {
  display: block;
  width: 20px;
  height: 18px;
  -webkit-mask: url("../img/icons/logout.svg") no-repeat;
  mask: url("../img/icons/logout.svg") no-repeat;
  background-color: var(--basic-greylight);
}

.logout-link:hover,
.logout-link:focus {
  background-color: var(--basic-grey);
}

.logout-link:active {
  background-color: var(--basic-greylight);
}

.user-info-links {
  display: grid;
  grid-auto-flow: column;
}

.user-info-links-item:not(:last-of-type) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
}

.user-info-links-item:last-of-type {
  display: flex;
  justify-content: flex-start;
  margin-left: 14px;
  align-items: center;
}

.user-info-links-item:not(:last-of-type)::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  margin-left: 14px;
  border-radius: 50%;
  background-color: var(--basic-greydark);
}

.user-info-links-item a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-greydark);
}

.user-info-links-item a:hover,
.user-info-links-item a:focus {
  color: var(--basic-red);
}

.user-profile-logout a:active,
.user-info-links-item a:active {
  color: var(--basic-greylight);
}

.main-navigation {
  grid-column: 1/-1;
  margin-top: 41px;
  background-color: var(--basic-greydark);
  box-shadow: inset 0 -5px 0 var(--basic-dark);
}

.page-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25px;
}

.page-navigation li {
  flex-grow: 1;
}

.page-navigation a {
  display: block;
  padding: 18px 25px;
  text-align: center;
  color: var(--basic-white);
}

.page-navigation a[href]:hover,
.page-navigation a[href]:focus {
  color: var(--basic-active-text);
  background-color: var(--basic-dark);
}

.page-navigation a[href]:active {
  color: var(--basic-active-text);
  background-color: var(--basic-blacklight);
}

.page-navigation a:not([href]) {
  cursor: default;
}

/* footer */

.main-footer {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--basic-greydark);
  color: var(--basic-whitedark);
}

.main-footer-logo {
  display: block;
  margin-bottom: 28px;
  padding: 20px 41px 13px;
}

.footer-top-wrapper {
  display: grid;
  grid-template-columns: 350px 1fr;
  padding-bottom: 39px;
}

.main-footer-contacts {
  width: 338px;
  padding-left: 4px;
  font-style: normal;
}

.footer-contacts-phone:hover,
.footer-navigation a[href]:hover,
.footer-navigation a[href]:focus,
.footer-catalog-filters-list a:hover {
  text-decoration: underline;
}

.footer-links-wrapper {
  display: grid;
  padding-top: 38px;
}

.footer-navigation,
.footer-catalog-filters-list {
  justify-self: end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.footer-navigation li,
.footer-catalog-filters-list li {
  margin-bottom: 18px;
}

.footer-navigation li:not(:first-child),
.footer-catalog-filters-list li:not(:first-child) {
  margin-left: 59px;
}

.footer-navigation a[href]:active {
  color: var(--basic-active-textdark);
}

.footer-navigation a:not([href]) {
  cursor: default;
}

.footer-catalog-filters-list {
  color: var(--special-yellowlight);
}

.footer-catalog-filters-list a:focus,
.footer-catalog-filters-list a:active {
  color: var(--special-active-text);
}

.footer-info-wrapper {
  color: var(--basic-white);
  background-color: var(--basic-blacklightest);
}

.footer-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding-top: 30px;
  padding-bottom: 29px;
}

.copyright p {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.social-contacts {
  justify-self: center;
  padding-right: 26px;
}

.socials-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.socials-list li:not(:last-child) {
  margin-right: 2px;
}

.socials-list a {
  margin-top: 2px;
  margin-bottom: 2px;
  display: block;
  width: 44px;
  height: 44px;
  background-color: var(--basic-blacklight);
  border-radius: 50%;
  cursor: pointer;
}

.socials-list a:hover,
.socials-list a:focus,
.socials-list a:active {
  background-color: var(--basic-red);
}

.socials-list a::before {
  content: "";
  display: block;
  width: 44px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
}

.vkontakte::before {
  background: url("../img/icons/vk.svg");
  background-size: 25px ;
}

.facebook::before {
  background: url("../img/icons/fb.svg");
  background-size: 12px;
}

.instagram::before {
  background: url("../img/icons/instagram.svg");
  background-size: 21px;
}

.footer-info-contact-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 51px;
  margin-left: 14px;
}

.email-us h2,
.developed h2 {
  margin: 0;
}

.email-us h2,
.email-us-link,
.developed h2,
.developed-info-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
}

.email-us-link,
.developed-info-link {
  color: var(--special-yellowlight);
}

.email-us-link:hover,
.email-us-link:focus,
.developed-info-link:hover,
.developed-info-link:focus {
  text-decoration: underline;
}

.email-us-link:active,
.developed-info-link:active {
  color: var(--basic-red);
}

/* main page content */

.main-container {
  background-color: var(--basic-white);
}

.page-info {
  padding-top: 59px;
  padding-bottom: 59px;
  color: var(--basic-white);
}

.page-info-container {
  display: grid;
  grid-template-areas:  "quick-filters quick-filters"
                        "slider other-info";
  gap: 20px;
}

.page-info-list-item {
  width: 300px;
  padding: 21px 22px 20px;
  background-repeat: no-repeat;
  background-position-y: 54%;
}

.page-info-list-item h3 {
  margin: 0;
  margin-bottom: 14px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.page-info-list-item a {
  display: inline-block;
  width: 135px;
  padding: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  background: var(--basic-dark-background);
}

.page-info-list-item a:hover,
.page-info-list-item a:focus {
  background: var(--basic-darkest-background);
}

.page-info-list-item a:active {
  background: var(--special-dark-background);
}

.quick-filters-list {
  grid-area: quick-filters;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 123px;
  gap: 20px;
}

.materials-item {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/dye.svg");
  background-position-x: 213px;
}

.instrument-item {
  background-color: var(--special-blue);
  background-image: url("../img/icons/screwdriver.svg");
  background-position-x: 194px;
}

.tech-item {
  background-color: var(--special-lilac);
  background-image: url("../img/icons/tractor.svg");
  background-position-x: 191px;
}

.discount-item {
  background-color: var(--special-greenlight);
  background-image: url("../img/icons/shopping-cart.svg");
  background-position-x: 196px;
}

.delivery-item {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/delivery.svg");
  background-position-x: 191px;
}

.other-info-list {
  grid-area: other-info;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.catalog-slider-wrapper {
  position: relative;
  grid-area: slider;
  overflow: hidden;
}

.slider-dots-list {
  position: absolute;
  left: 50%;
  bottom: 36px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.slider-dot {
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.slider-dot-active {
  width: 10px;
  height: 10px;
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
}

.slider-dot:not(:last-of-type) {
  margin-right: 10px;
}

.catalog-slider {
  display: grid;
  grid-auto-flow: column;
}


.catalog-slider-item {
  display: none;
  grid-template-rows: 104px auto auto;
  width: 620px;
  height: 266px;
  background-color: var(--special-dark-background);
}

.catalog-slider-item.slider-item-active {
  display: grid;
}

.first-slide {
  background-image: url('../img/slider/drill.jpg');
}

.second-slide {
  background-image: url('../img/slider/perforator.jpg');
}

.slider-item-description-container {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  width: 100%;
  max-height: 104px;
  padding: 23px 24px 16px;
  background: var(--special-black-background);
  overflow: auto;
}

.catalog-slider-item h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-slider-item p {
  margin: 0;
  max-width: 100%;
  word-break: break-all;
}

.slider-item-buttons-container {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 0;
}

.catalog-slider-direction-button {
  width: 29px;
  height: 47px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

.catalog-slider-direction-button:hover,
.catalog-slider-direction-button:focus {
  background-color: var(--basic-dark-background);
}

.catalog-slider-direction-button:active {
  background-color: var(--basic-darkest-background);
}

.slider-next-button img {
  transform: rotate(180deg);
}

.catalog-slider-open-link {
  grid-column: 1 / 2;
  grid-row-start: -2;
  justify-self: start;
  align-self: end;
  margin-left: 24px;
  margin-bottom: 27px;
}

.popular-section {
  padding-bottom: 70px;
}

.section-header-wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  gap: 20px;
  margin-bottom: 19px;
  padding: 26px 14px 26px 30px;
  background-color: var(--basic-backgrounddark);
}

.section-header-wrapper h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-greydark);
  text-transform: uppercase;
}

.section-header-wrapper a {
  display: block;
  color: var(--basic-white);
}

.popular-products-catalog-link {
  padding-left: 24px;
  padding-right: 24px;
}

.product {
  display: grid;
  grid-template-rows: 164px auto 21px min-content;
  justify-items: center;
  width: 220px;
  min-height: 318px;
  padding: 6px 18px 21px;
  text-align: center;
  border: 1px solid var(--special-greylight);
  background-color: var(--basic-white);
}

.product:focus {
  outline: none;
}

.product-image {
  order: -1;
  align-self: center;
  width: 127px;
  height: 112px;
}

.product h3 {
  margin-top: 8px;
  margin-bottom: 7px;
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.product-price {
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-old-price {
  display: inline-block;
  margin-top: auto;
  color: var(--basic-inactive-text);
}

.product-current-price {
  align-self: end;
  position: relative;
  display: block;
  margin-top: 10px;
  margin-left: 13px;
  padding-left: 32px;
  padding-right: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border-radius: 2px;
}

.product-current-price:hover,
.product-current-price:focus {
  background-color: var(--basic-reddark);
  outline: none;
}

.product-current-price:active {
  background-color: var(--error);
}

.product-current-price::after,
.product-current-price::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 20px;
  height: 38px;
  background-color: var(--basic-white);
}

.product-current-price::before {
  transform: rotate(45deg);
  transform-origin: bottom left;
}

.product-current-price::after {
  transform: rotate(-45deg);
  transform-origin: top left;
}

.product:hover,
.product:focus {
  box-shadow: var(--drop-shadow);
}

.product-buttons-container {
  display: none;
  flex-direction: column;
  padding-top: 30px;
  margin-left: -4px;
  order: -1;
}

.product-button {
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}

.product-buy-button {
  position: relative;
  padding: 10px 12px;
  padding-left: 22px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--basic-greendarkest);
}

.product-buy-button:hover,
.product-buy-button:focus {
  background-color: var(--success);
}

.product-buy-button:active {
  background-color: var(--basic-greendark);
}

.product-buy-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  width: 15px;
  height: 15px;
  -webkit-mask: url("../img/icons/cart.svg") no-repeat;
  mask: url("../img/icons/cart.svg") no-repeat;
  background-color: var(--basic-white);
  opacity: 0.3;
  transform: translateY(-50%);
}

.product-bookmarks-button {
  margin-top: 10px;
  padding: 8px 12px;
  color: var(--basic-greydark);
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
}

.product-bookmarks-button:hover,
.product-bookmarks-button:focus,
.product-bookmarks-button:active {
  border: 3px solid var(--basic-greydark);
}

.product-bookmarks-button:active {
  opacity: 0.5;
}

.product:hover .product-image,
.product:focus-within .product-image {
  display: none;
}

.product:hover .product-buttons-container,
.product:focus-within .product-buttons-container {
  display: flex;
}

.popular-products-list,
.popular-producers-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

.popular-producers-catalog-link {
  padding-left: 38px;
  padding-right: 38px;
}

.popular-producers-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  text-align: center;
  border: 1px solid var(--special-greylight);
}

.popular-producers-item a:hover,
.popular-producers-item a:focus,
.popular-producers-item a:active {
  box-shadow: var(--drop-shadow);
}

.popular-producers-item a:focus,
.popular-producers-item a:active {
  opacity: 0.5;
}

.popular-producers-item img {
  object-fit: contain;
}

.services {
  background-color: var(--basic-background);
}

.services-container {
  padding-top: 64px;
}

.services h2 {
  margin: 0;
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-wrapper {
  display: flex;
  align-items: center;
  margin-top: 21px;
}

.services-list {
  margin-bottom: 46px;
}

.services-button {
  width: 240px;
  padding: 16px 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  text-align: left;
  background-color: var(--basic-greydark);
  box-shadow: 0 1px 0 var(--basic-dark),
              inset 0 1px 0 var(--basic-light);
  cursor: pointer;
}

.services-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.services-button-active,
.services-button-active:hover {
  color: var(--basic-greydark);
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white),
              inset 0 1px 0 var(--basic-white);
}

.services-description-list {
  flex-grow: 1;
  position: relative;
  align-self: center;
}

.services-description-list::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  bottom: 0;
  width: 10px;
  background-image: url("../img/border-shadow.png");
  background-position-y: start;
  background-repeat: no-repeat;
}

.services-description-list-item {
  padding-top: 50px;
  padding-bottom: 130px;
  padding-left: 80px;

  background-repeat: no-repeat;
  background-position: right bottom;
}

.services-description-list-item h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-greydark);
}

.services-description-list-item p {
  font-size: 13px;
}

.services-delivery {
  background-image: url("../img/delivery.png");
  background-size: 470px auto;
  background-position: right bottom 3px;
}

.services-warranty {
  background-image: url("../img/warranty.png");
  background-size: 389px auto;
}

.services-credit {
  background-image: url("../img/credit.png");
  background-size: 465px auto;
}

.services-credit .credit-request-button {
  display: inline-block;
  margin-top: 26px;
  color: var(--basic-white);
}

.index-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.company-info,
.company-contacts {
  padding: 70px 0;
}

.company-contacts {
  justify-self: end;
}

.company-info h2,
.company-contacts h2 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.company-info p+p {
  margin-top: 28px;
}

.transport-companies-list {
  margin-bottom: 22px;
}

.transport-companies-list li {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
}

.transport-companies-list li::before {
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  margin-right: 12px;
  background-color: var(--basic-red);
}

.company-info-link {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

.company-contacts-map-title {
  margin-bottom: 32px;
}

.company-contacts-map {
  margin-bottom: 26px;
  display: block;
  background-color: var(--basic-background)
}

.company-contacts-map img {
  display: block;
}

.company-contact-modal-button {
  width: 100%;
}

/* modal window */

.modal {
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;
  width: 620px;
  box-shadow: inset 0 7px 0 var(--basic-red),
              var(--drop-shadow);
  background-color: var(--basic-white);
  transform: translateY(-50%);
}

.modal.modal-closed {
  display: none;
}

.modal-close-button {
  position: absolute;
  top: 17px;
  right: 11px;
  width: 26px;
  height: 26px;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  background-size: 21px;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
  transform: scale(1);
}

.modal-close-button:hover {
  transform: scale(1.05);
}

.modal-close-button:active {
  transform: scale(1);
}

.modal-interactive {
  display: grid;
  grid-template-rows: 1fr 112px;
}

.modal-action-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-backgrounddarkest);
}

.modal h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.animate-modal {
  animation: bounce 0.6s;
}

/* contact company modal */

.contact-company-form-content {
  display: grid;
  grid-template-areas: "name email"
                      "email-text email-text";
  padding: 39px 80px 37px;
}

.name-container {
  grid-area: name;
  margin: 0;
  margin-right: 20px;
}

.email-container {
  margin: 0;
  grid-area: email;
}

.email-text-container {
  margin: 0;
  margin-top: 11px;
  grid-area: email-text;
}

.contact-company-form-label {
  display: block;
  margin-bottom: 11px;
}

.contact-company-form textarea {
  width: 100%;
  height: 114px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
}

.contact-company-form textarea {
  padding: 7px 12px;
}

.contact-company-form textarea:focus,
.contact-company-form textarea:active {
  outline: none;
  border: 2px solid var(--basic-grey);
}

.contact-company-form textarea::placeholder {
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 13px;
  color: var(--basic-inactive-text);
}

.contact-company-send-button {
  width: 460px;
}

/* map modal */

.modal-map {
  width: 943px;
  height: 449px;
  padding-top: 7px;
}

.modal-map iframe {
  border: none;
}

/* cart modal */

.modal-content {
  padding: 62px 81px 50px;
}

.modal-cart-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  background-image: url("../img/icons/mark.svg");
  background-size: 66px;
  background-repeat: no-repeat;
}
.modal-cart-header-wrapper h2 {
  margin: 0;
}

.make-order-link,
.continue-shopping-button {
  margin: 5px;
}
.continue-shopping-button,
.continue-shopping-button:hover,
.continue-shopping-button:focus,
.continue-shopping-button:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.continue-shopping-button:hover,
.continue-shopping-button:focus {
  box-shadow: inset -2px -2px 0 var(--basic-greydark),
              inset 2px 2px 0 var(--basic-greydark);
}

.continue-shopping-button:active {
  opacity: 0.75;
}

/* catalog page */

.catalog-wrapper {
  display: grid;
  grid-template-columns: 230px 1fr;
  row-gap: 20px;
  column-gap: 10px;
  justify-content: center;
}

.breadcrumbs,
.catalog-header {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
}

.breadcrumbs {
  margin-top: 15px;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
  line-height: 18px;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: "";
  margin-left: 16px;
  display: block;
  width: 6px;
  height: 6px;
  border-right: 1px solid var(--basic-greylight);
  border-bottom: 1px solid var(--basic-greylight);
  transform: rotate(-45deg);
}

.breadcrumbs li:not(:first-child) {
  margin-left: 18px;
}

.first-breadcrumb {
  display: block;
  width: 14px;
  height: 20px;
  background-image: url("../img/icons/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
}

.breadcrumbs a,
.catalog-text-style {
  font-family: "PT Sans", "Open-Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a:not(.first-breadcrumb):hover,
.breadcrumbs a:not(.first-breadcrumb):focus,
.breadcrumbs a:not(.first-breadcrumb):active {
  box-shadow: 0 1px var(--basic-black);
}

.catalog-paragraph {
  margin: 0;
}

.catalog-header {
  margin: 0;
  padding: 29px 29px 30px;
  background-color: var(--basic-whitedark);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-greydark);
  text-transform: uppercase;
}

/* catalog filters */

.catalog-filters {
  max-height: 80%;
  padding-right: 10px;
  overflow: auto;
}
.catalog-filters h3 {
  margin: 0;
  padding: 10px 18px;
  font-family: "PT Sans", "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--special-background);
}

.catalog-filter-form fieldset {
  margin: 0;
  margin-top: 14px;
  padding: 0;
  border: none;
}

.catalog-filter-form .catalog-power-filter {
  margin-top: 20px;
}

.catalog-filter-form fieldset:not(:last-of-type) {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--special-greylight);
}

.catalog-filter-form fieldset:last-of-type {
  padding-bottom: 33px;
}

.catalog-filter-form legend {
  font-family: "PT Sans", "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter-form label {
  font-family: "PT Sans", "Open-Sans", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.price-slider-container {
  position: relative;
  margin-top: 11px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--special-background);
}

.price-slider-container .range-scale {
  width: 100%;
  height: 2px;
  background-color: var(--basic-greylight);
}

.range-bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-control {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-inactive-text);
  box-shadow: 0 1px 2px var(--basic-inactive-text);
  transform: translate(100%, -50%);
  cursor: pointer;
}

.control-min {
  left: 0;
}

.control-max {
  left: 57%;
}

.filter-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-price-input {
  width: 95px;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border: none;
  background-color: var(--special-background);
}

.filter-price-input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px var(--special-greylight);
}

.filter-price-input::-webkit-outer-spin-button,
.filter-price-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-price-input[type=number] {
  -moz-appearance: textfield;
}

.filter-option {
  margin-top: 16px;
  position: relative;
}

.filter-option label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-option input:focus ~ label {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-greydark);
  text-underline-offset: 2px;
}

.filter-option label::before {
  content: "";
  margin-right: 10px;
  display: block;

}

.filter-check-item label::before {
  width: 26px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.filter-check-item input:checked + label::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-radio-item {
  margin-top: 19px;
}

.filter-radio-item label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off.svg");
}

.filter-radio-item input:checked + label::before {
  background-image: url("../img/icons/radio-on.svg");
}

.apply-filter-button {
  width: 100%;
  padding: 10px 0;
  border: 1px solid var(--special-greylight);
  background-color: var(--basic-white);
  cursor: pointer;
}

.apply-filter-button:hover,
.apply-filter-button:focus {
  background-color: var(--basic-background);
}

.apply-filter-button:active {
  color: var(--basic-black);
  background-color: var(--basic-backgrounddark);
}

/* catalog products list */

.catalog-products {
  padding-bottom: 53px;
}

.catalog-sorting {
  margin: 0;
  display: grid;
  grid-template-columns: min-content auto min-content;
  padding: 10px 16px 10px 19px;
  background-color: var(--special-background);
}

.catalog-sort-types-list {
  margin-left: 70px;
  flex: 1;
  display: flex;
  align-items: center;
}

.catalog-sort-direction-list {
  display: flex;
  align-items: center;
}

.catalog-sort-direction-list li+li {
  padding-left: 21px;
}

.catalog-sort-types-list li {
  margin-left: 70px;
}

.catalog-sort-link {
  padding-bottom: 2px;
  color: var(--basic-greylight);
  text-decoration-line: underline;
  text-decoration-color: var(--basic-red);
  text-decoration-style: dotted;
  text-underline-offset: 2px;
}

.catalog-sort-link[href]:hover,
.catalog-sort-link[href]:focus {
  text-decoration-style: solid;
  color: var(--basic-black);
}

.catalog-sort-link-active,
.catalog-sort-link[href]:active {
  color: var(--basic-red);
  text-decoration: none;
}

.catalog-sort-icon {
  display: block;
  width: 11px;
  height: 10px;
  background: center / contain no-repeat url("../img/icons/down-dir.svg");
}

.catalog-sort-icon:hover,
.catalog-sort-icon:focus {
  background-image: url("../img/icons/down-dir-hover.svg");
}

.catalog-sort-icon-active,
.catalog-sort-icon:active {
  background-image: url("../img/icons/down-dir-active.svg");
}

.catalog-sort-icon.icon-up {
  transform: rotate(180deg);
}

.catalog-products-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 18px 20px;
  margin-top: 28px;
  margin-bottom: 48px;
}

.catalog-pages-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-pages-list li {
  margin-right: 8px;
  margin-bottom: 10px;
}

.catalog-pages-list a {
  display: inline-block;
  background: var(--basic-white);
  border: 1px solid var(--special-greylight);
  border-radius: 4px;
}

.catalog-pages-list a[href]:hover,
.catalog-pages-list a[href]:focus,
.catalog-change-page-item a[href]:hover,
.catalog-change-page-item a[href]:focus {
  border-color: var(--basic-greylight);
}

.catalog-pages-list a[href]:active,
.catalog-change-page-item a[href]:active {
  border-color: var(--basic-red);
}

.catalog-pages-list a:not([href]) {
  cursor: default;
}

.catalog-page-item a {
  padding: 9px 15px;
}

.catalog-page-item-active a {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.catalog-change-page-item a {
  padding: 9px 32px;
}

/* catalog product description */

.catalog-products-description {
  grid-column: 1 / -1;
  padding-top: 65px;
  padding-bottom: 70px;
  background-color: var(--basic-background);
}

.catalog-products-description h2 {
  margin: 0;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-products-description p {
  line-height: 24px;
  text-transform: none;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}