/* fonts */

@font-face {
  font-family: "Cuprum";
  src:  url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:  url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:  url("../fonts/cuprum700.woff2") format("woff2"),
        url("../fonts/cuprum700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:  url("../fonts/cuprum700italic.woff2") format("woff2"),
        url("../fonts/cuprumn700italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:  url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:  url("../fonts/ptsans700.woff2") format("woff2"),
        url("../fonts/ptsans700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* custom properties */

:root {
  --basic-red: #EE3643;
  --basic-reddark: #CA2C37;
  --basic-green: #63A63E;
  --basic-greendark: #518534;
  --basic-greendarkest: #367315;
  --basic-grey: #3D546F;
  --basic-greydark: #32425C;
  --basic-greylight: #C5C5C5;
  --basic-background: #F3F7F9;
  --basic-backgrounddark: #F9F5F0;
  --basic-backgrounddarkest: #F4F4F4;
  --basic-white: white;
  --basic-whitedark: #F1F5F7;
  --basic-black: black;
  --basic-blacklight: #161D29;
  --basic-blacklightest: #212A3A;
  --basic-dark: #293449;
  --basic-light: #405069;
  --basic-inactive-text: #A9A9A9;
  --basic-active-text: rgba(255, 255, 255, 0.5);
  --basic-active-textdark: rgba(241, 245, 247, 0.5);
  --basic-dark-background: rgba(255, 255, 255, 0.3);
  --basic-darkest-background: rgba(197, 197, 197, 0.3);
  --special-yellow: #FFBF47;
  --special-yellowlight: #FFD180;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --special-greylight: #EAEAEA;
  --special-background: #F7F3EC;
  --special-dark-background: rgba(169, 169, 169, 0.3);
  --special-active-text: rgba(255, 209, 128, 0.5);
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --drop-shadow: 0 4px 20px  rgba(0,0,0,0.15) ;
  --inset-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

/* common styles */

* {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.page-body a {
  color: inherit;
  text-decoration: none;
}

.page-body button {
  border: none;
}

.page-button {
  padding: 10px 46px;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.page-button:hover,
.page-button:focus {
  background-color: var(--basic-reddark);
}

.page-button:active {
  background-color: var(--error);
}

.logo {
  width: 220px;
  text-align: center;
  background-color: var(--basic-red);
  box-shadow: var(--inset-shadow);
}

.page-paragraph {
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 13px;
}

.page-input,
.page-input:focus,
.page-input:active {
  padding: 7px 12px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  outline: none;
  line-height: inherit;
}

.page-input:focus,
.page-input:active {
  border-color: var(--basic-grey);
}

.page-input::placeholder {
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 13px;
  color: var(--basic-inactive-text);
}

.hidden {
  display: none;
}

.clear-list {
  list-style: none;
}

.content-wrapper {
  margin: 0 auto;
  width: 940px;
}

/* page header */

.main-header {
  background-color: var(--basic-background);
}

.menu-wrapper {
  background-color: var(--basic-dark);
}

.main-header-logo {
  padding: 12px 56px;
}

.search-site {
  position: relative;
  font-size: 18px;
}

.search-site input {
  width: 271px;
  padding-left: 42px;
  color: var(--basic-black);
  background-color: var(--basic-dark);
}

.search-site input::placeholder {
  color: var(--basic-white);
}

.search-site input:focus,
.search-site input:active {
  background-color: var(--basic-white);
}

.main-header-menu-item a {
  font-size: 18px;
  padding: 9px 17px;
  color: var(--basic-white);
  text-align: center;
}

.menu-bookmarks a,
.menu-cart a {
  padding-left: 45px;
  padding-right: 26px;
}

.menu-order a {
  width: 150px;
  background-color: var(--basic-green);
}

.menu-bookmarks a:active,
.menu-cart a:active {
  color: var(--basic-active-text);
  background-color: var(--basic-blacklight);
}

.menu-order a:hover,
.menu-order a:focus,
.menu-order a:active {
  background-color: var(--success);
}

.menu-order a:active {
  color: var(--basic-active-text);
}

.main-header-title {
  width: 197px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}

.main-header-contacts {
  width: 270px;
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: var(--basic-greydark);
}

.main-header-contacts a {
  margin-bottom: 3px;
  padding: 7px 0;
  width: 270px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  text-align: center;
  border: 3px solid var(--basic-white);
  background-color: var(--basic-background);
}

.main-header-contacts a:hover,
.main-header-contacts a:focus {
  text-decoration: underline;
}

.main-header-entry-item a {
  padding: 12px 24px;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white);
}

.main-header-entry-item a:hover,
.main-header-entry-item a:focus {
  color: var(--basic-red);
}

.main-header-entry-item a:active {
  color: var(--basic-greylight);
}

.entry-login a {
  padding-left: 45px;
  padding-right: 27px;
}

.user-profile-logout {
  height: 45px;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
}

.user-info-links-item a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-greydark);
}

.user-info-links-item a:hover {
  color: var(--basic-red);
}

.user-profile-logout a:active,
.user-info-links-item a:active {
  color: var(--basic-greylight);
}

.main-navigation {
  background-color: var(--basic-greydark);
  box-shadow: inset 0 -5px 0 var(--basic-dark);
}

.page-navigation a {
  padding: 16px 27px;
  color: var(--basic-white);
}

.page-navigation a:hover,
.page-navigation a:focus {
  color: var(--basic-active-text);
  background-color: var(--basic-dark);
}

.page-navigation a:active {
  color: var(--basic-active-text);
  background-color: var(--basic-blacklight);
}

/* footer */

.main-footer {
  background-color: var(--basic-greydark);
  color: var(--basic-whitedark);
}

.main-footer-logo {
  padding: 23px 41px;
}

.main-footer-contacts {
  width: 333px;
  font-style: normal;
}

.footer-contacts-phone:hover,
.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-catalog-filters-list a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: var(--basic-active-textdark);
}

.footer-catalog-filters-list {
  color: var(--special-yellowlight);
}

.footer-catalog-filters-list a:focus,
.footer-catalog-filters-list a:active {
  color: var(--special-active-text);
}

.footer-info-wrapper {
  color: var(--basic-white);
  background-color: var(--basic-blacklightest);
}

.copyright p {
  font-size: 16px;
  line-height: 18px;
}

.socials-list a {
  width: 44px;
  height: 44px;
  background-color: var(--basic-blacklight);
  border-radius: 50%;
  cursor: pointer;
}

.socials-list a:hover,
.socials-list a:focus,
.socials-list a:active {
  background-color: var(--basic-red);
}

.email-us h2,
.developed h2 {
  margin: 0;
}

.email-us h2,
.email-us-link,
.developed h2,
.developed-info-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.email-us-link,
.developed-info-link {
  color: var(--special-yellowlight);
}

.email-us-link:hover,
.email-us-link:focus,
.developed-info-link:hover,
.developed-info-link:focus {
  text-decoration: underline;
}

.email-us-link:active,
.developed-info-link:active {
  color: var(--basic-red);
}

/* main page content */

.main-container {
  background-color: var(--basic-white);
}

.page-info {
  color: var(--basic-white);
  background-color: gray; /* TODO: temporary to see items, remove further */
}

.catalog-slider-item {
  padding: 23px 24px 27px;
}

.catalog-slider-item h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-slider-direction-button {
  padding: 6px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
}

.catalog-slider-direction-button:hover,
.catalog-slider-direction-button:focus {
  background-color: var(--basic-dark-background);
}

.catalog-slider-direction-button:active {
  background-color: var(--basic-darkest-background);
}

.page-info-list-item {
  width: 300px;
  padding: 21px 23px;
  background-repeat: no-repeat;
  background-position-y: center;
}

.page-info-list-item h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.page-info-list-item a {
  padding: 10px 23px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background: var(--basic-dark-background);
}

.page-info-list-item a:hover,
.page-info-list-item a:focus {
  background: var(--basic-darkest-background);
}

.page-info-list-item a:active {
  background: var(--special-dark-background);
}

.materials-item {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/dye.svg");
  background-position-x: 213px;
}

.instrument-item {
  background-color: var(--special-blue);
  background-image: url("../img/icons/screwdriver.svg");
  background-position-x: 194px;
}

.tech-item {
  background-color: var(--special-lilac);
  background-image: url("../img/icons/tractor.svg");
  background-position-x: 191px;
}

.discount-item {
  background-color: var(--special-greenlight);
  background-image: url("../img/icons/shopping-cart.svg");
  background-position-x: 196px;
}

.delivery-item {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/delivery.svg");
  background-position-x: 191px;
}

.section-header-wrapper {
  background-color: var(--basic-backgrounddark);
}

.section-header-wrapper h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-greydark);
  text-transform: uppercase;
}

.product {
  width: 220px;
  padding: 6px 18px 21px;
  text-align: center;
  border: 1px solid var(--special-greylight);
}

.product h3 {
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.product-price {
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-old-price {
  color: var(--basic-inactive-text);
}

.product-current-price {
  width: 141px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--basic-white);
  background-color: var(--basic-red)
}

.product:hover {
  box-shadow: var(--drop-shadow);
}

.product-button {
  display: none;
  width: 135px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 2px;
}

.product-buy-button {
  padding-left: 18px;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--basic-greendarkest);
}

.product-buy-button:hover,
.product-buy-button:focus {
  background-color: var(--success);
}

.product-buy-button:active {
  background-color: var(--basic-greendark);
}

.product-bookmarks-button {
  color: var(--basic-greydark);
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
}

.product-bookmarks-button:hover,
.product-bookmarks-button:focus,
.product-bookmarks-button:active {
  border: 3px solid var(--basic-greydark);
}

.product-bookmarks-button:active {
  opacity: 0.5;
}

.product:hover .product-image {
  display: none;
}

.product:hover .product-button {
  display: inline-block;
}

.popular-producers-item a {
  width: 220px;
  text-align: center;
  border: 1px solid var(--special-greylight);
}

.popular-producers-item a:hover,
.popular-producers-item a:focus,
.popular-producers-item a:active {
  box-shadow: var(--drop-shadow);
}

.popular-producers-item a:focus,
.popular-producers-item a:active {
  opacity: 0.5;
}

.services {
  background-color: var(--basic-background);
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-button {
  width: 240px;
  padding: 15px 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  text-align: left;
  background-color: var(--basic-greydark);
  box-shadow: 0 1px 0 var(--basic-dark),
              inset 0 1px 0 var(--basic-light);
  cursor: pointer;
}

.services-button:hover {
  color: var(--basic-white);
  background-color: var(--basic-dark);
}

.services-button-active {
  color: var(--basic-greydark);
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white),
              inset 0 1px 0 var(--basic-white);
}

.services-description-list-item {
  width: 619px;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.services-description-list-item h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-greydark);
}

.services-description-list-item p {
  font-size: 13px;
}

.services-delivery {
  background-image: url("../img/delivery.png");
  background-size: 468px auto;
}

.services-warranty {
  background-image: url("../img/warranty.png");
  background-size: 389px auto;
}

.services-credit {
  background-image: url("../img/credit.png");
  background-size: 465px auto;
}

.company-info h2,
.company-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

/* modal window */

.modal {
  box-shadow: var(--drop-shadow);
}

.modal-close-button {
  width: 15px;
  background-image: url("../img/icons/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.modal-action-buttons-wrapper {
  background-color: var(--basic-backgrounddarkest);
}

.modal h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/* contact company modal */

.contact-company-form textarea {
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
}

.contact-company-form textarea {
  padding: 7px 12px;
}

.contact-company-form textarea:focus,
.contact-company-form textarea:active {
  border: 2px solid var(--basic-grey);
}

.contact-company-form textarea::placeholder {
  font-family: "PT Sans", "Open Sans", sans-serif;
  font-size: 13px;
  color: var(--basic-inactive-text);
}

/* cart modal */

.modal-cart-header-wrapper {
  padding-left: 78px;
  background-image: url("../img/icons/mark.svg");
  background-repeat: no-repeat;
}

.continue-shopping-button,
.continue-shopping-button:hover,
.continue-shopping-button:focus,
.continue-shopping-button:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.continue-shopping-button:hover,
.continue-shopping-button:focus {
  box-shadow: inset -2px -2px 0 var(--basic-greydark),
              inset 2px 2px 0 var(--basic-greydark);
}

.continue-shopping-button:active {
  opacity: 0.75;
}

/* catalog page */

.breadcrumbs a,
.catalog-text-style {
  font-family: "PT Sans", "Open-Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.first-breadcrumb {
  width: 14px;
  background-image: url("../img/icons/home.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.catalog-header {
  padding: 30px 29px;
  background-color: var(--basic-whitedark);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--basic-greydark);
  text-transform: uppercase;
}

/* catalog filters */

.catalog-filters h3 {
  padding: 10px 18px;
  font-family: "PT Sans", "Open-Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--special-background);
}

.catalog-filter-form fieldset {
  border: none;
  padding: 0;
}

.catalog-filter-form legend {
  font-family: "PT Sans", "Open-Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter-form label {
  font-family: "PT Sans", "Open-Sans", sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.price-slider-container {
  width: 220px;
  background-color: var(--special-background);
}

.filter-price-input {
  width: 95px;
  height: 38px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border: none;
  background-color: var(--special-background);
}

.apply-filter-button {
  padding: 10px 0;
  border: 1px solid var(--special-greylight);
  background-color: var(--basic-white);
}

/* catalog products list */

.catalog-sorting {
  padding: 10px 14px 10px 19px;
  background-color: var(--special-background);
}

.catalog-sort-link {
  padding-bottom: 2px;
  color: var(--basic-greylight);
  text-decoration: underline var(--basic-red) dotted;
  text-underline-offset: 2px;
}

.catalog-sort-link:hover,
.catalog-sort-link:focus {
  color: var(--basic-black);
}

.catalog-sort-link-active,
.catalog-sort-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.catalog-sort-icon {
  display: inline-block;
  width: 11px;
  height: 10px;
  background: center / contain no-repeat url("../img/icons/down-dir.svg");
}

.catalog-sort-icon:hover,
.catalog-sort-icon:focus {
  background-image: url("../img/icons/down-dir-hover.svg");
}

.catalog-sort-icon-active,
.catalog-sort-icon:active {
  background-image: url("../img/icons/down-dir-active.svg");
}

.catalog-pages-list a {
  display: inline-block;
  background: var(--basic-white);
  border: 1px solid var(--special-greylight);
  border-radius: 2px;
}

.catalog-pages-list a:hover,
.catalog-pages-list a:focus,
.catalog-change-page-item a:hover,
.catalog-change-page-item a:focus {
  border-color: var(--basic-greylight);
}

.catalog-pages-list a:active,
.catalog-change-page-item a:active {
  border-color: var(--basic-red);
}

.catalog-page-item a {
  padding: 10px 15px;
}

.catalog-page-item-active a {
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.catalog-change-page-item a {
  padding: 10px 33px;
}

/* catalog product description */

.catalog-products-description {
  background-color: var(--basic-background);
}

.catalog-products-description h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-products-description p {
  text-transform: none;
}


